! ######################################################################
! ###
! ### Emission settings.
! ###
! ### History:
! ###   v1
! ###     Defaults used for validation up to v1.10.004 .
! ###   v2
! ###     For MACC-II use latest release v20140110 .
! ###   v3
! ###     Added MACC-III emissions.
! ###     Allow year-depenended time profiles for EDGAR.
! ###     Added bio-nox emissions.
! ###     Extended pollen emissions.
! ###     Use wind-blown-dust lookup table in output directory.
! ###   v4
! ###     Added point emissions for testing.
! ###     EDGAR emissions per year by default.
! ###
! ###   v5
! ###     Updated Particle Number emissions to v5.
! ###
! ###   v7
! ###     Including CAMS/REG emissions.
! ###     Including CAMS/RWC emissions.
! ###     Including GrETa emissions.
! ###
! ######################################################################

!
! Specify below the details for each set:
!
!   le.emis.<set>.<setting>  :  <value>
!
! First specify the filetype:
!   le.emis.<set>.filetype  :  
! Supported values:
!   tno_nc             # TNO base emissions, NetCDF format
!   bio                # biogenic emissions, LE implementation
!   megan              #  "        "       , MEGAN
!   fire_macc          # MACC fire emissions
!   fire_silam         # SILAM global fire emissions
!   sea_salt           # sea_salt emissions
!   dust-wind          # wind blown dust
!   dust-resuspension  # traffic resuspension
!   dust-agriculture   # dust due to agriculture activities
!   hm                 # heavy metals
!   basecation         # base cat ions
!
! Other settings depend on the chosen types;
! see the template settings below.
!


!===========================================================
! ** checks
!===========================================================

! some combinations do not make sense ...
#if ("bio" in "${le.emis.sets}".split()) and ("megan" in "${le.emis.sets}")
#error found both "bio" and "megan" in "le.emis.sets", something wrong ...
#endif


!===========================================================
! ** point emis for testing
!===========================================================

! "file" type:
le.emis.point.filetype                  :  point

! location "Utrecht":
le.emis.point.lon                       :   5.12
le.emis.point.lat                       :  52.08

! target component:
le.emis.point.tracer                    :  no

! emission:
le.emis.point.rate                      :  100.0 kg/hour

! effective release height: 
le.emis.point.height                    :  10.0 m

! time range:
le.emis.point.trange                    :  1900-01-01 00:00:00 ; 2099-01-01 00:00:00


!===========================================================
! ** LE Data structures for emissions
!===========================================================

! collection emission variables in 'le_data' structures:
le.emis.data.vars               :  emis_wetlands_ch4 emis_amva_pm25 emis_amva_pm10


! * wetlands

! "file" type:
le.emis.wetlands.filetype                 :  data
! variables:
le.emis.wetlands.vars                     :  emis_wetlands_ch4

! target spec:
le.emis.wetlands.emis_wetlands_ch4.spec   :  CH4

! define variable:
data.emis_wetlands_ch4.long_name          :  emissions of CH4 from wetlands
data.emis_wetlands_ch4.units              :  kg/m2/s
data.emis_wetlands_ch4.range              :  -Inf Inf
data.emis_wetlands_ch4.gridtype           :  cell
data.emis_wetlands_ch4.levtype            :  sfc
data.emis_wetlands_ch4.datatype           :  constant_field_series
data.emis_wetlands_ch4.input              :  emis.emis_wetlands_ch4

! define input:
emis.emis_wetlands_ch4.tinterp            :  1 month
emis.emis_wetlands_ch4.input              :  2001-01-01 00:00, 2016-01-01 00:00, emis.emis_wetlands_ch4.file
emis.emis_wetlands_ch4.file.name          :  /projects/CHE/GALES_CH4/Werkdocumenten/users/segersaj/wp-wetlands/WetCHARTs/v1.0/data/WetCHARTs_extended_ensemble_mean.nc
emis.emis_wetlands_ch4.file.var           :  long_name=Wetland CH4 Emissions


!====================================================================
! * AMVA PM2.5 from traffic Santiago
!====================================================================

! NOTE: when using this, disable pm2.5 from base emissions (EDGAR?)

! "file" type:
le.emis.AMVA.filetype                 :  data
! variables:
le.emis.AMVA.vars                     :  emis_amva_pm25 emis_amva_pm10

! target spec:
le.emis.AMVA.emis_amva_pm25.spec           :  ppm_f 
le.emis.AMVA.emis_amva_pm10.spec           :  ppm_c


! define variable:
data.emis_amva_pm25.long_name          :  emissions of PM2.5 Total
data.emis_amva_pm25.units              :  Mg/year
data.emis_amva_pm25.range              :  0 Inf
data.emis_amva_pm25.gridtype           :  cell
data.emis_amva_pm25.levtype            :  sfc
data.emis_amva_pm25.datatype           :  constant_field_series
data.emis_amva_pm25.input              :  emis.emis_amva_pm25

! define input:
emis.emis_amva_pm25.tinterp            :  99 year
emis.emis_amva_pm25.input              :  2001-01-01 00:00, 2099-01-01 00:00, emis.emis_amva_pm25.file
emis.emis_amva_pm25.file.name               :  /disk/kalman/inputdata_Colombia/emissions/AMVA/D04_Total_Emis_PM25_V4.nc
emis.emis_amva_pm25.file.var               :  long_name=PM25 Total Emissions

! apply hourly profile?
! specify filename with 24 factors
le.emis.AMVA.emis_amva_pm25.profile_hourly   :  /disk/kalman/inputdata_Colombia/emissions/AMVA/Diurnal_Profile_Mobile_Emissions_V1.csv


! define variable:
data.emis_amva_pm10.long_name          :  emissions of PM10 Total
data.emis_amva_pm10.units              :  Mg/year
data.emis_amva_pm10.range            :  0 Inf
data.emis_amva_pm10.gridtype           :  cell
data.emis_amva_pm10.levtype            :  sfc
data.emis_amva_pm10.datatype           :  constant_field_series
data.emis_amva_pm10.input              :  emis.emis_amva_pm10

! define input:
emis.emis_amva_pm10.tinterp            :  99 year
emis.emis_amva_pm10.input             :  2001-01-01 00:00, 2099-01-01 00:00, emis.emis_amva_pm10.file
emis.emis_amva_pm10.file.name          :  /disk/kalman/inputdata_Colombia/emissions/AMVA/D04_Total_Emis_PM10_V4.nc
emis.emis_amva_pm10.file.var           :  long_name=PM10 Total Emissions

! apply hourly profile?
! specify filename with 24 factors
le.emis.AMVA.emis_amva_pm10.profile_hourly   :  /disk/kalman/inputdata_Colombia/emissions/AMVA/Diurnal_Profile_Mobile_Emissions_V1.csv










!===========================================================
! ** MACC-III emissions
!===========================================================

! current version:
my.macc_iii.emis.version          :  v20151005

! base path:
my.macc_iii.emis.home             :  ${my.data.dir}/emissions/MACC-III/${my.macc_iii.emis.version}

! file type:
le.emis.macc_iii.filetype                 :  tno

! emission distribution scheme:
le.emis.macc_iii.distribution             :  SNAP14x

! emission file:
le.emis.macc_iii.base.file                :  ${my.macc_iii.emis.home}/base-nc/TNO_MACC_III_emissions_%{year}.nc

! last year available:
le.emis.macc_iii.base.maxyear             :  9999

! emission factors per country and category:
!   file=${my.macc_iii.emis.home}/emisfac/scenario-template.csv[;sep=,][;comment=#][;format=csv]
le.emis.macc_iii.scenario                 :  

! height distribution for point and area sources:
le.emis.macc_iii.height_distribution.p    :  file=${my.macc_iii.emis.home}/height-distribution/height-distribution-EURODELTA-EMEP-update.csv
le.emis.macc_iii.height_distribution.a    :  file=${my.macc_iii.emis.home}/height-distribution/height-distribution-EURODELTA-EMEP-update.csv

! time profiles:
! possible to give list of different files (split by whitespace)
! if type hourly-gridded is given in list (this will overwrite the others)
!  type=unity
!  type=mdh;file=${my.macc.emis.home}/time-distribution/time_var_emis_${le.emis.macc.distribution}_v2.txt
!  type=hourly;file=${my.macc.emis.home}/time-distribution/time-nc/time_profiles_%{year}.nc
!  type=hourly-gridded;file=${my.data.dir}/heating-days/time-distribution/time-distribution-heating-%{year}.nc;format=nc
le.emis.macc_iii.time_profiles            :  type=hourly;file=${my.macc_iii.emis.home}/time-distribution/time_profiles_%{year}.nc

! voc table (txt format):
le.emis.macc_iii.voc_profiles             :  ${my.macc_iii.emis.home}/aux/voc_profiles_CBM4_${le.emis.macc_iii.distribution}.txt

! location of other table files:
le.emis.macc_iii.aux.dir                  :  ${my.macc_iii.emis.home}/aux
!
! Composition tables;
! if query is 'special' then the distribution over tracers
! is a selected case in the 'LE_Emis_TNO' module:
le.emis.macc_iii.composition.nox          :  file=${my.macc_iii.emis.home}/composition/NOx/NOx_composition_3pct_NO2.csv;format=csv
le.emis.macc_iii.composition.so2          :  file=${my.macc_iii.emis.home}/composition/SOx/SOx_composition_2pct_SO4a.csv;format=csv
le.emis.macc_iii.composition.ch4          :  target_tracer=ch4
le.emis.macc_iii.composition.co           :  special
le.emis.macc_iii.composition.nh3          :  target_tracer=nh3
le.emis.macc_iii.composition.nmvoc        :  special
le.emis.macc_iii.composition.pm2_5        :  file=${my.macc_iii.emis.home}/composition/PM/PM_split_for_TNO_MACC_III_fine_%{year}.csv;format=csv
le.emis.macc_iii.composition.pm25_pm10    :  file=${my.macc_iii.emis.home}/composition/PM/PM_split_for_TNO_MACC_III_coarse_%{year}.csv;format=csv
!
! skip some model species ? 
le.emis.macc_iii.skip.species             :  


!===========================================================
! ** CAMS v2.2 emissions
!===========================================================

! current version:
my.cams_v2_2.emis.version                  :  v2_2
my.cams_v2_2.emis.patch                    :  ${my.cams_v2_2.emis.version}_1

!~ updated PM split:
my.cams_v2_2.emis.revision                 :  ${my.cams_v2_2.emis.patch}_rev_20190326

! base path:
my.cams_v2_2.emis.home                     :  ${my.data.dir}/emissions/CAMS/REG/${my.cams_v2_2.emis.patch}

! loop over species group
#for GROUP in AP GHG

! file type:
le.emis.cams_v2_2_GROUP.filetype                 :  tno

! emission distribution scheme:
le.emis.cams_v2_2_GROUP.distribution             :  GNFR

! emission file; data for 2015 only:
le.emis.cams_v2_2_GROUP.base.file                :  ${my.cams_v2_2.emis.home}/base-nc/CAMS-REG-GROUP_${my.cams_v2_2.emis.patch}_emissions_year%{year}.nc

! last year available:
le.emis.cams_v2_2_GROUP.base.maxyear             :  2015

! emission factors per country and category:
!   file=${my.cams_v2_2.emis.home}/emisfac/scenario-template_GROUP.csv[;sep=,][;comment=#][;format=csv]
le.emis.cams_v2_2_GROUP.scenario                 :  

! height distribution for point and area sources:
!~ same height profiles for point and area sources:
le.emis.cams_v2_2_GROUP.height_distribution.p    :  file=${my.cams_v2_2.emis.home}/height-distribution/TNO_height-distribution_GNFR.csv
le.emis.cams_v2_2_GROUP.height_distribution.a    :  file=${my.cams_v2_2.emis.home}/height-distribution/TNO_height-distribution_GNFR.csv
!!~ point sources and shipping as usual, other area sources in 0-20m:
!le.emis.cams_v2_2_GROUP.height_distribution.p    :  file=${my.cams_v2_2.emis.home}/height-distribution/TNO_height-distribution_GNFR_point.csv
!le.emis.cams_v2_2_GROUP.height_distribution.a    :  file=${my.cams_v2_2.emis.home}/height-distribution/TNO_height-distribution_GNFR_area.csv

! time profiles:
! possible to give list of different files (split by whitespace)
! if type hourly-gridded is given in list (this will overwrite the others)
!  type=unity
!  type=mdh;file=${my.macc.emis.home}/time-distribution/time_var_emis_${le.emis.macc.distribution}_v2.txt
!  type=hourly;file=${my.macc.emis.home}/time-distribution/time-nc/time_profiles_%{year}.nc
!  type=hourly-gridded;file=${my.data.dir}/heating-days/time-distribution/time-distribution-heating-%{year}.nc;format=nc
le.emis.cams_v2_2_GROUP.time_profiles            :  type=hourly;file=${my.cams_v2_2.emis.home}/time-distribution/time_profiles_%{year}.nc

! voc table (txt format);
! not used, since composition tables are available:
le.emis.cams_v2_2_GROUP.voc_profiles             :  

! location of other table files:
le.emis.cams_v2_2_GROUP.aux.dir                  :  ${my.cams_v2_2.emis.home}/aux
!
! Composition tables;
! if query is 'special' then the distribution over tracers
! is a selected case in the 'LE_Emis_TNO' module:
!
#if "GROUP" == "AP"
!
le.emis.cams_v2_2_GROUP.composition.nox                 :  file=${my.cams_v2_2.emis.home}/composition/NOx/NOx_composition_3pct_NO2.csv;format=csv
le.emis.cams_v2_2_GROUP.composition.so2                 :  file=${my.cams_v2_2.emis.home}/composition/SOx/SOx_composition_2pct_SO4a.csv;format=csv
le.emis.cams_v2_2_GROUP.composition.ch4                 :  target_tracer=ch4
le.emis.cams_v2_2_GROUP.composition.co                  :  special
le.emis.cams_v2_2_GROUP.composition.nh3                 :  target_tracer=nh3
!
le.emis.cams_v2_2_GROUP.composition.nmvoc               :    mass_split_file=${my.cams_v2_2.emis.home}/composition/NMVOC/NMVOC_split_for_CAMS-REG-${my.cams_v2_2.emis.version}_mass_split_table_ALL.csv;\
                                                             molar_mass_file=${my.cams_v2_2.emis.home}/composition/NMVOC/NMVOC_split_for_CAMS-REG-${my.cams_v2_2.emis.version}_mol_weights.csv;\
                                                           carbon_bonds_file=${my.cams_v2_2.emis.home}/composition/NMVOC/NMVOC_split_for_CAMS-REG-${my.cams_v2_2.emis.version}_ratios_CB4.csv
!
le.emis.cams_v2_2_GROUP.composition.pm2_5               :  file=${my.cams_v2_2.emis.home}/composition/PM/PM_split_for_CAMS-REG-GROUP_${my.cams_v2_2.emis.revision}_fine_%{year}.csv;format=csv
le.emis.cams_v2_2_GROUP.composition.pm25_pm10           :  file=${my.cams_v2_2.emis.home}/composition/PM/PM_split_for_CAMS-REG-GROUP_${my.cams_v2_2.emis.revision}_coarse_%{year}.csv;format=csv
!
#elif "GROUP" == "GHG"
!
! skip CH4 from this set ...
le.emis.cams_v2_2_GROUP.composition.ch4          :  None
! distribute over labeled tracers
le.emis.cams_v2_2_GROUP.composition.co2_ff       :  special
le.emis.cams_v2_2_GROUP.composition.co2_bf       :  special
!
#else
#error could not set composition for group "GROUP"
#endif
!
! skip some model species ? 
le.emis.cams_v2_2_GROUP.skip.species             :  

#endfor
! loop over species group


!===========================================================
! ** CAMS RWC emissions
!===========================================================

! current version:
my.cams_RWC_AP.emis.version                  :  v1_1

! base path:
my.cams_RWC_AP.emis.home                     :  ${my.data.dir}/emissions/CAMS/RWC/${my.cams_RWC_AP.emis.version}

! file type:
le.emis.cams_RWC_AP.filetype                 :  tno

! emission distribution scheme:
le.emis.cams_RWC_AP.distribution             :  SNAP14

! emission file; data for 2015 only:
le.emis.cams_RWC_AP.base.file                :  ${my.cams_RWC_AP.emis.home}/base/CAMS-RWC-AP_%{year}_v1_1.nc

! last year available:
le.emis.cams_RWC_AP.base.maxyear             :  2015

! emission factors per country and category: 
!   file=${my.cams_RWC_AP.emis.home}/emisfac/scenario-template_AP.csv[;sep=,][;comment=#][;format=csv]
le.emis.cams_RWC_AP.scenario                 :  

! height distribution for point and area sources:
le.emis.cams_RWC_AP.height_distribution.p    :  file=${my.cams_RWC_AP.emis.home}/height-distribution/height-distribution-EURODELTA-EMEP-update_AP.csv
le.emis.cams_RWC_AP.height_distribution.a    :  file=${my.cams_RWC_AP.emis.home}/height-distribution/height-distribution-EURODELTA-EMEP-update_AP.csv

! time profiles:
! possible to give list of different files (split by whitespace)
! if type hourly-gridded is given in list (this will overwrite the others)
!  type=unity
!  type=mdh;file=${my.macc.emis.home}/time-distribution/time_var_emis_${le.emis.macc.distribution}_v2.txt
!  type=hourly;file=${my.macc.emis.home}/time-distribution/time-nc/time_profiles_%{year}.nc
!  type=hourly-gridded;file=${my.data.dir}/heating-days/time-distribution/time-distribution-heating-%{year}.nc;format=nc
le.emis.cams_RWC_AP.time_profiles            :  type=hourly;file=${my.cams_RWC_AP.emis.home}/time-distribution/time_profiles_%{year}_AP.nc

! voc table (txt format):
le.emis.cams_RWC_AP.voc_profiles             :  ${my.cams_RWC_AP.emis.home}/aux/AP/voc_profiles_CBM4_${le.emis.cams_RWC_AP.distribution}.txt

! location of other table files:
le.emis.cams_RWC_AP.aux.dir                  :  ${my.cams_RWC_AP.emis.home}/aux/AP
!
! Composition tables;
! if query is 'special' then the distribution over tracers
! is a selected case in the 'LE_Emis_TNO' module:
!
le.emis.cams_RWC_AP.composition.nox          :  file=${my.cams_RWC_AP.emis.home}/composition/NOx_composition_3pct_NO2_AP.csv;format=csv
le.emis.cams_RWC_AP.composition.so2          :  file=${my.cams_RWC_AP.emis.home}/composition/SOx_composition_2pct_SO4a_AP.csv;format=csv
le.emis.cams_RWC_AP.composition.ch4          :  target_tracer=ch4
le.emis.cams_RWC_AP.composition.co           :  special
le.emis.cams_RWC_AP.composition.nh3          :  target_tracer=nh3
le.emis.cams_RWC_AP.composition.nmvoc        :  special
le.emis.cams_RWC_AP.composition.pm2_5        :  file=${my.cams_RWC_AP.emis.home}/composition/PM_split_for_TNO_CAMS-RWC-Update_2015_fine_AP.csv;format=csv
le.emis.cams_RWC_AP.composition.pm25_pm10    :  file=${my.cams_RWC_AP.emis.home}/composition/PM_split_for_TNO_CAMS-RWC-Update_2015_coarse_AP.csv;format=csv
!
! skip some model species ? 
le.emis.cams_RWC_AP.skip.species             :  


!============================================================
! ** EDGAR emissions v4.3
!============================================================

! set filetype:
le.emis.edgar_v43.filetype                  :  edgar

! main path:
my.edgar_v43.dir                            :  ${my.data.dir}/emissions/EDGAR/v4.3/v4.3.2/

! valid timerange:
le.emis.edgar_v43.timerange_valid           :  year
!le.emis.edgar_v43.timerange_valid           :  month

! maximum year in inventory:
le.emis.edgar_v43.maxyear                   :  2012

! input file:
le.emis.edgar_v43.file                      :  ${my.edgar_v43.dir}/data/%{tracer}/%{year}/v432_%{tracer}_%{year}_IPCC_%{source}.0.1x0.1.nc


! tracer names:
!le.emis.edgar_v43.tracers                   :  CO2_excl_short-cycle_org_C CO2_org_short-cycle_C N2O
le.emis.edgar_v43.tracers                   :  BC CH4 CO NH3 NMVOC NOx OC  SO2

! file with list of source category codes:
le.emis.edgar_v43.sourcecodes               :  ${my.edgar_v43.dir}/aux/sources.txt

! files with list of source category codes per tracer:
le.emis.edgar_v43.sources                   :  ${my.edgar_v43.dir}/aux/sources-%{tracer}.txt

! files with list of geographical zones:
le.emis.edgar_v43.zones                     :  ${my.edgar_v43.dir}/aux/Geographical_zones_global.csv

! height distribution (all source types):
le.emis.edgar_v43.height_distribution      :  file=${my.edgar_v43.dir}/aux/height_distribution_EURODELTA_global.csv


! temperature variable emissions VOC:
le.emis.edgar_v43.temp_var_voc             :  file=${my.edgar_v43.dir}/aux/temp_var_emis_VOC_global.csv
le.emis.edgar_v43.temp_var_co              :  file=${my.edgar_v43.dir}/aux/temp_var_emis_CO_global.csv

! time distribution:
le.emis.edgar_v43.time_profiles            :  files=${my.edgar_v43.dir}/time-distribution/edgar_v43_time_profiles_global_%{year}.nc;years=%{year};format=nc

! Composition tables;
! if query is 'special' then the distribution over tracers
! is a selected case in the 'LE_Emis_TNO' module:
le.emis.edgar_v43.composition.BC           :  target_tracer=ec_f
le.emis.edgar_v43.composition.CH4          :  target_tracer=ch4
le.emis.edgar_v43.composition.CO           :  target_tracer=co
le.emis.edgar_v43.composition.NH3          :  target_tracer=nh3
le.emis.edgar_v43.composition.NMVOC        :  file=${my.edgar_v43.dir}/composition/NMVOC/VOC_composition_CBM4_IPCCcodes_global.csv;format=csv;nocheck=T
le.emis.edgar_v43.composition.NOx          :  file=${my.edgar_v43.dir}/composition/NOx/NOx_composition_global.csv;format=csv
le.emis.edgar_v43.composition.OC           :  target_tracer=pom_f
le.emis.edgar_v43.composition.PM25_PM10    :  target_tracer=ppm_c
le.emis.edgar_v43.composition.PM2.5_bio    :  target_tracer=ppm_f
le.emis.edgar_v43.composition.PM2.5_fossil :  target_tracer=ppm_f
le.emis.edgar_v43.composition.SO2          :  file=${my.edgar_v43.dir}/composition/SOx/SOx_composition_global.csv;format=csv

! skip species?
le.emis.edgar_v43.skip.species             :  


!============================================================
! ** biogenic emissions, LE implementation
!============================================================

! set filetypes:
le.emis.bio.filetype                   :  bio

!============================================================
! ** biogenic NOx emissions, LE implementation
!============================================================

! set filetypes:
le.emis.bio-no.filetype                   :  bio-no


!===========================================================
! ** biogenic emissions MEGAN v2.04
!===========================================================

! set filetypes:
le.emis.megan.filetype                 :  megan

! archive:
my.megan.resol            :  150sec
my.megan.input            :  ${my.data.dir}/landuse/megan/MEGAN_V2_0/Input/NETCDF ${my.megan.resol}
my.megan.input.version    :  20

! PFT files:
le.emis.megan.pft.fname   :  ${my.megan.input}/PFT/PFT${my.megan.input.version}/%{comp}%{year}_${my.megan.resol}.nc
le.emis.megan.pft.vname   :  %{component}_cover_fraction_for_year_%{year}_(m2_per_m2)
le.emis.megan.pft.year    :  2001

! for some MEGAN representer species, 
! the emission factors are available as maps;
! specify a list of all species for which this map should be used:
le.emis.megan.ef.maps     :  ISOP
! EF files:
le.emis.megan.ef.fname    :  ${my.megan.input}/EF/ef%{mt}${my.megan.input.version}/%{comp}all%{year}_${my.megan.resol}.nc
le.emis.megan.ef.vname    :  %{component}_emission_factor_for_all_plants_for_year_%{year}_(microgram_per_m2_per_hr)
le.emis.megan.ef.year     :  2000

! LAI files:
le.emis.megan.lai.fname   :  ${my.megan.input}/LAI/LAI${my.megan.input.version}/laiv%{year}%{month}_${my.megan.resol}.nc
le.emis.megan.lai.vname   :  LAI_for_%{monthname}_%{year}_(m2_per_m2)
le.emis.megan.lai.year    :  2003

! meteo files:
le.emis.megan.meteo.fname : ${my.leip.dir}/ECMWF/od/ifs/0001/fc/sfc/F640/%{year}/%{ftype}_%{year}%{month}%{day}_3h%{fc_ext}.nc
le.emis.megan.meteo.fc_ext : 


!===========================================================
! ** MACC fire emissions
!===========================================================

! set filetype:
le.emis.fire_macc_daily.filetype                :  fire_macc

! files produced by LEIP:
le.emis.fire_macc_daily.format                  :  compress

! temporal resolution:
le.emis.fire_macc_daily.tres                    :  daily

! filename templates, first match is used:
le.emis.fire_macc_daily.files                   :  ${my.leip.dir}/ECMWF/mc/gfas/0001/ga/sfc/R0.10x0.10/%{year}/FIRE_%{year}%{month}%{day}_1d.nc

! allow missing files (T|F) ?
le.emis.fire_macc_daily.allow_missing           :  F


!===========================================================
! ** sea salt emissions
!===========================================================

! set filetype:
le.emis.sea_salt.filetype                 :  sea_salt


!===========================================================
! ** dust emissions
!===========================================================

! set filetype:
le.emis.dust-wind.filetype                :  dust-wind

! look up table for wind blown dust
le.emis.dust-wind.lut                     :  ${my.data.dir}/emissions/dust-wind/lut-${my.le.release}.nc

! set filetype:
le.emis.dust-agriculture.filetype         :  dust-agriculture

! set filetype:
le.emis.dust-resuspension.filetype        :  dust-resuspension
! average gravimetric soil water file:
le.emis.dust-resuspension.swg.file        :  ${my.data.dir}/landuse/soilwater_avg/v2/swg_avg_2008_v2x.nc



!============================================================
! ** MEIC china emissions
!============================================================

! set filetype:
le.emis.meic.filetype                  :  edgar

! main path:
my.meic.dir				:  ${my.data.dir}/emissions/MEIC

! which year ? automataic or fixed:
!my.meic.year                           :  %{year}
my.meic.year                           :  2010
my.meic.month                          :  %{month}

! input file:
le.emis.meic.file                      :  ${my.data.dir}/emissions/MEIC/base/2010monthly/ncnew/2010_%{month}__%{source}__%{tracer}.nc

! Read in new emission file at the beginning of each ....?
!le.emis.meic.timerange_valid           :  year
le.emis.meic.timerange_valid           :  month

! tracer name  (IN FUTURE: NAMES!)
!le.emis.meic.tracers                   :  CH4 CO NH3 NMVOC NOx PM10 SO2
le.emis.meic.tracers                   :  BC CO NH3 NOx OC PM2.5 PMcoarse SO2 CBIV_ALD2 CBIV_ETH CBIV_FORM CBIV_ISOP CBIV_OLE CBIV_PAR CBIV_TOL CBIV_XYL

! file with list of source category codes:
le.emis.meic.sourcecodes               :  ${my.data.dir}/emissions/MEIC/categories/allemiscats.csv

! files with list of source category codes per tracer:
!le.emis.meic.sources                   :  ${my.meic.dir}/categories/cats-%{tracer}.txt
le.emis.meic.sources                   :  ${my.data.dir}/emissions/MEIC/categories/cats-%{tracer}.txt

! files with list of geographical zones:
le.emis.meic.zones                   :  ${my.data.dir}/emissions/MEIC/zones/Geographical_zones_global.csv

! height distribution for point and area sources:
le.emis.meic.height_distribution      :  file=${my.data.dir}/emissions/MEIC/height-distribution/height_distribution_EURODELTA_global.csv

! temperature variable emissions VOC:
le.emis.meic.temp_var_voc             :  file=${my.data.dir}/emissions/MEIC/temp_var/temp_var_emis_VOC_global.csv
le.emis.meic.temp_var_co              :  file=${my.data.dir}/emissions/MEIC/temp_var/temp_var_emis_CO_global.csv

! time distribution:
le.emis.meic.time_profiles            :  files=${my.data.dir}/emissions/MEIC/time-distribution/time_profiles_global_%{year}_monthlyconstant.nc;years=%{year};format=nc

! Composition tables;
! if query is 'special' then the distribution over tracers
! is a selected case in the 'LE_Emis_TNO' module:
le.emis.meic.composition.NOx          :  file=${my.data.dir}/emissions/MEIC/composition/NOx/NOx_composition_global.csv;format=csv
le.emis.meic.composition.SO2          :  file=${my.data.dir}/emissions/MEIC/composition/SOx/SOx_composition_global.csv;format=csv
le.emis.meic.composition.CO           :  target_tracer=co
le.emis.meic.composition.NH3          :  target_tracer=nh3
le.emis.meic.composition.PM2.5        :  target_tracer=ppm_f
le.emis.meic.composition.PMcoarse     :  target_tracer=ppm_c
le.emis.meic.composition.BC           :  target_tracer=ec_f
le.emis.meic.composition.OC           :  target_tracer=pom_f
le.emis.meic.composition.CBIV_ALD2    :  target_tracer=ald
le.emis.meic.composition.CBIV_ETH     :  target_tracer=eth
le.emis.meic.composition.CBIV_FORM    :  target_tracer=form
le.emis.meic.composition.CBIV_ISOP    :  target_tracer=iso
le.emis.meic.composition.CBIV_OLE     :  target_tracer=ole
le.emis.meic.composition.CBIV_PAR     :  target_tracer=par
le.emis.meic.composition.CBIV_TOL     :  target_tracer=tol
le.emis.meic.composition.CBIV_XYL     :  target_tracer=xyl

! skip species?
le.emis.meic.skip.species             :

